<div
  class="flex flex-col justify-between gap-8 bg-background-component p-8 pb-0"
>
  <app-password-length />
  <div class="flex flex-col gap-6">
    <div class="flex items-center gap-4">
      <input
        type="checkbox"
        class="size-5 accent-accent"
        [formControl]="includeUppercaseControl"
      />
      <p class="text-base">Include Uppercase Letters</p>
    </div>
    <div class="flex items-center gap-4">
      <input
        type="checkbox"
        class="size-5 accent-accent"
        [formControl]="includeLowercaseControl"
      />
      <p class="text-base">Include Lowercase Letters</p>
    </div>
    <div class="flex items-center gap-4">
      <input
        type="checkbox"
        class="size-5 accent-accent"
        [formControl]="includeNumbersControl"
      />
      <p class="text-base">Include Numbers</p>
    </div>
    <div class="flex items-center gap-4">
      <input
        type="checkbox"
        class="size-5 accent-accent"
        [formControl]="includeSymbolsControl"
      />
      <p class="text-base">Include Symbols</p>
    </div>
  </div>
</div>
