<div class="flex h-16 items-center justify-between bg-[#24232C] p-4">
  <input
    type="text"
    class="mr-4 w-full bg-transparent text-2xl"
    value="{{ password() }}"
    placeholder="P4$5W0rD"
    disabled
  />
  <div class="relative flex items-center justify-end gap-4">
    <span class="ml-4 uppercase text-accent" [class.hidden]="!showCopied"
      >copied</span
    >
    <img
      src="assets/images/icon-copy.svg"
      alt="copy"
      class="cursor-pointer"
      (click)="copyPassword()"
    />
  </div>
</div>
